data/xml/src/main/resources/xml/schema/records.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://ramify.net/records"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://ramify.net/records"
        version="1.0">

    <element name="recordSet" type="tns:xmlRecordSet"/>

    <element name="recordSetReference" type="tns:xmlRecordSetReference"/>

    <element name="recordSets" type="tns:recordSets"/>

    <complexType name="xmlRecordSet">

        <sequence>

            <element form="qualified" minOccurs="0" name="description" type="xs:string"/>

            <element maxOccurs="unbounded" minOccurs="0" ref="tns:recordSetReference"/>

            <element maxOccurs="unbounded" minOccurs="0" ref="tns:recordSet"/>

        </sequence>

        <attribute name="id" type="xs:string" use="required"/>

        <attribute name="parentId" type="xs:string"/>

        <attribute name="title" type="xs:string" use="required"/>

        <attribute name="place" type="xs:string" use="required"/>

        <attribute name="source" type="tns:xmlRecordSetSource" use="required"/>

        <attribute name="type" type="tns:xmlRecordSetType" use="required"/>

    </complexType>

    <complexType name="xmlRecordSetReference">

        <sequence/>

        <attribute name="reference" type="xs:string" use="required"/>

        <attribute name="archive" type="xs:string" use="required"/>

    </complexType>

    <complexType name="recordSets">

        <sequence>

            <element maxOccurs="unbounded" minOccurs="0" ref="tns:recordSet"/>

        </sequence>

    </complexType>

    <complexType abstract="true" name="xmlRecord">

        <sequence/>

    </complexType>

    <simpleType name="xmlRecordSetSource">

        <restriction base="xs:string">

            <enumeration value="government"/>

            <enumeration value="church"/>

        </restriction>

    </simpleType>

    <simpleType name="xmlRecordSetType">

        <restriction base="xs:string">

            <enumeration value="death"/>

            <enumeration value="residence"/>

            <enumeration value="birth"/>

            <enumeration value="baptism"/>

            <enumeration value="mixed"/>

            <enumeration value="burial"/>

            <enumeration value="marriage"/>

            <enumeration value="membership"/>

            <enumeration value="census"/>

            <enumeration value="payment"/>

        </restriction>

    </simpleType>

</schema>
