server/xml/src/main/resources/xml/schema/events.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ramify.net/dates" xmlns:tns="http://ramify.net/events" targetNamespace="http://ramify.net/events" version="1.0">

    <xs:import namespace="http://ramify.net/dates" schemaLocation="dates.xsd"/>

    <xs:element name="birth" type="tns:xmlBirthEvent"/>

    <xs:element name="death" type="tns:xmlDeathEvent"/>

    <xs:element name="event" type="tns:xmlEvent"/>

    <xs:complexType name="xmlBirthEvent">

        <xs:complexContent>

            <xs:extension base="tns:xmlEvent">

                <xs:sequence/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:complexType abstract="true" name="xmlEvent">

        <xs:sequence>

            <xs:element minOccurs="0" ref="ns1:inYear"/>

        </xs:sequence>

        <xs:attribute name="placeId" type="xs:string"/>

    </xs:complexType>

    <xs:complexType name="xmlDeathEvent">

        <xs:complexContent>

            <xs:extension base="tns:xmlEvent">

                <xs:sequence/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

</xs:schema>
