server/xml/src/main/resources/xml/schema/places_uk.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ramify.net/places" xmlns:tns="http://ramify.net/places/gb" targetNamespace="http://ramify.net/places/gb" version="1.0">
    
  <xs:import namespace="http://ramify.net/places" schemaLocation="places.xsd"/>
    
  <xs:element name="borough" type="tns:xmlBorough"/>
    
  <xs:element name="chapelry" type="tns:xmlChapelry"/>
    
  <xs:element name="cityDistrict" type="tns:xmlCityDistrict"/>
    
  <xs:element name="civilParish" type="tns:xmlCivilParish"/>
    
  <xs:element name="country" type="tns:xmlCountry"/>
    
  <xs:element name="county" type="tns:xmlCounty"/>
    
  <xs:element name="countyBorough" type="tns:xmlCountyBorough"/>
    
  <xs:element name="forest" type="ns1:xmlForest"/>
    
  <xs:element name="graveship" type="tns:xmlGraveship"/>
    
  <xs:element name="hundred" type="tns:xmlHundred"/>
    
  <xs:element name="lathe" type="tns:xmlLathe"/>
    
  <xs:element name="londonBorough" type="tns:xmlLondonBorough"/>
    
  <xs:element name="manor" type="tns:xmlManor"/>
    
  <xs:element name="metropolitanBorough" type="tns:xmlMetropolitanBorough"/>
    
  <xs:element name="municipalBorough" type="tns:xmlMunicipalBorough"/>
    
  <xs:element name="parish" type="tns:xmlParish"/>
    
  <xs:element name="rape" type="tns:xmlRape"/>
    
  <xs:element name="ruralDistrict" type="tns:xmlRuralDistrict"/>
    
  <xs:element name="township" type="tns:xmlTownship"/>
    
  <xs:element name="urbanDistrict" type="tns:xmlUrbanDistrict"/>
    
  <xs:element name="wapentake" type="tns:xmlWapentake"/>
    
  <xs:element name="ward" type="tns:xmlWard"/>
    
  <xs:complexType abstract="true" name="xmlUkPlace">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlCountry">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:country"/>
                        
            <xs:element ref="tns:county"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="iso" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlCounty">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns1:city"/>
                        
            <xs:element ref="tns:parish"/>
                        
            <xs:element ref="tns:manor"/>
                        
            <xs:element ref="tns:hundred"/>
                        
            <xs:element ref="tns:wapentake"/>
                        
            <xs:element ref="tns:rape"/>
                        
            <xs:element ref="tns:lathe"/>
                        
            <xs:element ref="tns:ward"/>
                        
            <xs:element ref="tns:borough"/>
                        
            <xs:element ref="tns:countyBorough"/>
                        
            <xs:element ref="tns:metropolitanBorough"/>
                        
            <xs:element ref="tns:municipalBorough"/>
                        
            <xs:element ref="tns:urbanDistrict"/>
                        
            <xs:element ref="tns:ruralDistrict"/>
                        
            <xs:element ref="tns:londonBorough"/>
                        
            <xs:element ref="tns:forest"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="iso" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlParish">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:parish"/>
                        
            <xs:element ref="tns:chapelry"/>
                        
            <xs:element ref="tns:township"/>
                        
            <xs:element ref="ns1:city"/>
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                        
            <xs:element ref="ns1:hamlet"/>
                        
            <xs:element ref="ns1:suburb"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlChapelry">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:township"/>
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                        
            <xs:element ref="ns1:church"/>
                        
            <xs:element ref="ns1:school"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlTownship">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                        
            <xs:element ref="ns1:hamlet"/>
                        
            <xs:element ref="ns1:church"/>
                        
            <xs:element ref="ns1:graveyard"/>
                        
            <xs:element ref="ns1:farmstead"/>
                        
            <xs:element ref="ns1:inn"/>
                        
            <xs:element ref="ns1:mill"/>
                        
            <xs:element ref="ns1:monastery"/>
                        
            <xs:element ref="ns1:school"/>
                        
            <xs:element ref="ns1:street"/>
                        
            <xs:element ref="ns1:workhouse"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlManor">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:manor"/>
                        
            <xs:element ref="tns:graveship"/>
                        
            <xs:element ref="tns:forest"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlGraveship">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:manor"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlHundred">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:parish"/>
                        
            <xs:element ref="tns:manor"/>
                        
            <xs:element ref="ns1:town"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlRape">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:parish"/>
                        
            <xs:element ref="tns:manor"/>
                        
            <xs:element ref="tns:hundred"/>
                        
            <xs:element ref="ns1:city"/>
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                        
            <xs:element ref="ns1:hamlet"/>
                        
            <xs:element ref="ns1:suburb"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlWapentake">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:parish"/>
                        
            <xs:element ref="tns:manor"/>
                        
            <xs:element ref="ns1:city"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlLathe">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:parish"/>
                        
            <xs:element ref="tns:manor"/>
                        
            <xs:element ref="tns:hundred"/>
                        
            <xs:element ref="ns1:city"/>
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                        
            <xs:element ref="ns1:hamlet"/>
                        
            <xs:element ref="ns1:suburb"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlWard">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:parish"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlBorough">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                        
            <xs:element ref="tns:civilParish"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlCivilParish">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlCountyBorough">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:civilParish"/>
                        
            <xs:element ref="ns1:city"/>
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMetropolitanBorough">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:civilParish"/>
                        
            <xs:element ref="ns1:city"/>
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="iso" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMunicipalBorough">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:civilParish"/>
                        
            <xs:element ref="ns1:city"/>
                        
            <xs:element ref="ns1:town"/>
                        
            <xs:element ref="ns1:village"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlUrbanDistrict">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:civilParish"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlRuralDistrict">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:civilParish"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlLondonBorough">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:cityDistrict"/>
                  
        </xs:sequence>
                
        <xs:attribute name="iso" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlCityDistrict">
        
    <xs:complexContent>
            
      <xs:extension base="ns1:xmlPlace">
                
        <xs:sequence/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
  
</xs:schema>
