server/xml/src/main/resources/xml/schema/records.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ramify.net/people" xmlns:ns2="http://ramify.net/events" xmlns:ns3="http://ramify.net/families" xmlns:ns4="http://ramify.net/dates" xmlns:ns5="http://ramify.net/places" xmlns:tns="http://ramify.net/records" targetNamespace="http://ramify.net/records" version="1.0">
    
  <xs:import namespace="http://ramify.net/people" schemaLocation="people.xsd"/>
    
  <xs:import namespace="http://ramify.net/events" schemaLocation="events.xsd"/>
    
  <xs:import namespace="http://ramify.net/families" schemaLocation="families.xsd"/>
    
  <xs:import namespace="http://ramify.net/dates" schemaLocation="dates.xsd"/>
    
  <xs:import namespace="http://ramify.net/places" schemaLocation="places.xsd"/>
    
  <xs:element name="baptism" type="tns:xmlBaptismRecord"/>
    
  <xs:element name="baptismRecords" type="tns:xmlBaptismRecords"/>
    
  <xs:element name="birthRecord" type="tns:xmlBirthRecord"/>
    
  <xs:element name="birthRecords" type="tns:xmlBirthRecords"/>
    
  <xs:element name="burial" type="tns:xmlBurialRecord"/>
    
  <xs:element name="burialRecords" type="tns:xmlBurialRecords"/>
    
  <xs:element name="churchMarriage" type="tns:xmlChurchMarriageRecord"/>
    
  <xs:element name="death" type="tns:xmlDeathRecord"/>
    
  <xs:element name="englandCensus" type="tns:xmlEnglandCensusRecords"/>
    
  <xs:element name="groMarriage" type="tns:xmlGroMarriageRecord"/>
    
  <xs:element name="marriageRecords" type="tns:xmlMarriageRecords"/>
    
  <xs:element name="marriageSpouse" type="tns:xmlMarriageSpouse"/>
    
  <xs:element name="memorialInscription" type="tns:xmlMemorialInscription"/>
    
  <xs:element name="memorialInscriptions" type="tns:xmlMemorialInscriptions"/>
    
  <xs:element name="mention" type="tns:xmlMentionRecord"/>
    
  <xs:element name="mentionRecords" type="tns:xmlMentionRecords"/>
    
  <xs:element name="probate" type="tns:xmlProbateRecord"/>
    
  <xs:element name="probateRecords" type="tns:xmlProbateRecords"/>
    
  <xs:element name="propertyRecord" type="tns:xmlPropertyTransactionRecord"/>
    
  <xs:element name="propertyRecords" type="tns:xmlPropertyTransactionRecords"/>
    
  <xs:element name="recordSet" type="tns:xmlRecordSet"/>
    
  <xs:element name="recordSetReference" type="tns:xmlRecordSetReference"/>
    
  <xs:element name="recordSets" type="tns:recordSets"/>
    
  <xs:element name="residence" type="tns:xmlResidenceRecord"/>
    
  <xs:element name="residenceRecords" type="tns:xmlResidenceRecords"/>
    
  <xs:element name="witness" type="tns:xmlWitnessPerson"/>
    
  <xs:complexType name="xmlPersonRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecord">
                
        <xs:sequence>
                    
          <xs:element minOccurs="0" ref="ns1:nameTranscription"/>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns1:literacy"/>
                        
            <xs:element ref="ns1:height"/>
                      
          </xs:choice>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns2:personEvent"/>
                        
            <xs:element ref="ns2:any"/>
                        
            <xs:element ref="ns2:birth"/>
                        
            <xs:element ref="ns2:baptism"/>
                        
            <xs:element ref="ns2:marriage"/>
                        
            <xs:element ref="ns2:residence"/>
                        
            <xs:element ref="ns2:death"/>
                        
            <xs:element ref="ns2:burial"/>
                        
            <xs:element ref="ns2:probate"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="personId" type="xs:string"/>
                
        <xs:attribute name="name" type="xs:string"/>
                
        <xs:attribute name="gender" type="ns1:xmlGender" use="required"/>
                
        <xs:attribute name="notes" type="xs:string"/>
                
        <xs:attribute name="occupation" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlRecord">
        
    <xs:sequence/>
        
    <xs:attribute name="recordId" type="xs:string"/>
      
  </xs:complexType>
    
  <xs:complexType name="xmlResidenceRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateWithFamilyRecord">
                
        <xs:sequence/>
                
        <xs:attribute name="placeId" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlPersonOnDateWithFamilyRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateRecord">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns3:daughter"/>
                        
            <xs:element ref="ns3:father"/>
                        
            <xs:element ref="ns3:mother"/>
                        
            <xs:element ref="ns3:son"/>
                        
            <xs:element ref="ns3:husband"/>
                        
            <xs:element ref="ns3:wife"/>
                        
            <xs:element ref="ns3:unknown"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlPersonOnDateRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonRecord">
                
        <xs:sequence>
                    
          <xs:choice minOccurs="0">
                        
            <xs:element ref="ns1:exactAge"/>
                        
            <xs:element ref="ns1:approximateAge"/>
                        
            <xs:element ref="ns1:ageRange"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="age" type="xs:int"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlRecordSet">
        
    <xs:sequence>
            
      <xs:choice minOccurs="0">
                
        <xs:element ref="ns4:xmlBeforeDate"/>
                
        <xs:element ref="ns4:inYear"/>
                
        <xs:element ref="ns4:onDate"/>
                
        <xs:element ref="ns4:inQuarter"/>
                
        <xs:element ref="ns4:betweenYears"/>
                
        <xs:element ref="ns4:inMonth"/>
                
        <xs:element ref="ns4:beforeYear"/>
              
      </xs:choice>
            
      <xs:element form="qualified" minOccurs="0" name="description" type="xs:string"/>
            
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="nextRecord" type="tns:recordSetId"/>
            
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:recordSetReference"/>
            
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:recordSet"/>
            
      <xs:choice maxOccurs="unbounded" minOccurs="0">
                
        <xs:element ref="tns:birthRecords"/>
                
        <xs:element ref="tns:baptismRecords"/>
                
        <xs:element ref="tns:marriageRecords"/>
                
        <xs:element ref="tns:mentionRecords"/>
                
        <xs:element ref="tns:residenceRecords"/>
                
        <xs:element ref="tns:propertyRecords"/>
                
        <xs:element ref="tns:englandCensus"/>
                
        <xs:element ref="tns:burialRecords"/>
                
        <xs:element ref="tns:memorialInscriptions"/>
                
        <xs:element ref="tns:probateRecords"/>
              
      </xs:choice>
          
    </xs:sequence>
        
    <xs:attribute name="id" type="xs:string" use="required"/>
        
    <xs:attribute name="parentId" type="xs:string"/>
        
    <xs:attribute name="title" type="xs:string" use="required"/>
        
    <xs:attribute name="shortTitle" type="xs:string"/>
        
    <xs:attribute name="creatorPlace" type="xs:string"/>
        
    <xs:attribute name="coversPlaceId" type="xs:string"/>
        
    <xs:attribute name="source" type="tns:xmlRecordSetSource" use="required"/>
        
    <xs:attribute name="type" type="tns:xmlRecordSetType"/>
      
  </xs:complexType>
    
  <xs:complexType name="recordSetId">
        
    <xs:sequence/>
        
    <xs:attribute name="id" type="xs:string" use="required"/>
      
  </xs:complexType>
    
  <xs:complexType name="xmlRecordSetReference">
        
    <xs:sequence>
            
      <xs:choice minOccurs="0">
                
        <xs:element ref="ns5:textLink"/>
                
        <xs:element ref="ns5:wikipediaLink"/>
                
        <xs:element ref="ns5:nationalArchivesLink"/>
                
        <xs:element ref="ns5:websiteLink"/>
              
      </xs:choice>
          
    </xs:sequence>
        
    <xs:attribute name="reference" type="xs:string" use="required"/>
        
    <xs:attribute name="archiveId" type="xs:string" use="required"/>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlRecords">
        
    <xs:sequence/>
      
  </xs:complexType>
    
  <xs:complexType name="xmlBirthRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:birthRecord"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlBirthRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateWithFamilyRecord">
                
        <xs:sequence>
                    
          <xs:element ref="ns4:birthDate"/>
                  
        </xs:sequence>
                
        <xs:attribute name="birthPlace" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlBaptismRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:baptism"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlBaptismRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateWithFamilyRecord">
                
        <xs:sequence>
                    
          <xs:element ref="ns4:date"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMarriageRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="tns:churchMarriage"/>
                        
            <xs:element ref="tns:groMarriage"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="marriagePlace" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlMarriageRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecord">
                
        <xs:sequence/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlChurchMarriageRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlMarriageRecord">
                
        <xs:sequence>
                    
          <xs:choice>
                        
            <xs:element ref="ns4:xmlBeforeDate"/>
                        
            <xs:element ref="ns4:inYear"/>
                        
            <xs:element ref="ns4:onDate"/>
                        
            <xs:element ref="ns4:inQuarter"/>
                        
            <xs:element ref="ns4:betweenYears"/>
                        
            <xs:element ref="ns4:inMonth"/>
                        
            <xs:element ref="ns4:beforeYear"/>
                      
          </xs:choice>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:marriageSpouse"/>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:witness"/>
                  
        </xs:sequence>
                
        <xs:attribute name="eventId" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMarriageSpouse">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateWithFamilyRecord">
                
        <xs:sequence/>
                
        <xs:attribute name="signed" type="tns:xmlSignature"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlWitnessPerson">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonRecord">
                
        <xs:sequence/>
                
        <xs:attribute name="signed" type="tns:xmlSignature"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlGroMarriageRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlMarriageRecord">
                
        <xs:sequence/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMentionRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:choice minOccurs="0">
                        
            <xs:element ref="ns4:xmlBeforeDate"/>
                        
            <xs:element ref="ns4:inYear"/>
                        
            <xs:element ref="ns4:onDate"/>
                        
            <xs:element ref="ns4:inQuarter"/>
                        
            <xs:element ref="ns4:betweenYears"/>
                        
            <xs:element ref="ns4:inMonth"/>
                        
            <xs:element ref="ns4:beforeYear"/>
                      
          </xs:choice>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:mention"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMentionRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateRecord">
                
        <xs:sequence>
                    
          <xs:choice minOccurs="0">
                        
            <xs:element ref="ns4:xmlBeforeDate"/>
                        
            <xs:element ref="ns4:inYear"/>
                        
            <xs:element ref="ns4:onDate"/>
                        
            <xs:element ref="ns4:inQuarter"/>
                        
            <xs:element ref="ns4:betweenYears"/>
                        
            <xs:element ref="ns4:inMonth"/>
                        
            <xs:element ref="ns4:beforeYear"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="deceased" type="xs:boolean"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlResidenceRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:choice minOccurs="0">
                        
            <xs:element ref="ns4:xmlBeforeDate"/>
                        
            <xs:element ref="ns4:inYear"/>
                        
            <xs:element ref="ns4:onDate"/>
                        
            <xs:element ref="ns4:inQuarter"/>
                        
            <xs:element ref="ns4:betweenYears"/>
                        
            <xs:element ref="ns4:inMonth"/>
                        
            <xs:element ref="ns4:beforeYear"/>
                      
          </xs:choice>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:residence"/>
                  
        </xs:sequence>
                
        <xs:attribute name="placeId" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlPropertyTransactionRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:propertyRecord"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlPropertyTransactionRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlDatedRecord">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns3:family"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlDatedRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecord">
                
        <xs:sequence>
                    
          <xs:choice minOccurs="0">
                        
            <xs:element ref="ns4:xmlBeforeDate"/>
                        
            <xs:element ref="ns4:inYear"/>
                        
            <xs:element ref="ns4:onDate"/>
                        
            <xs:element ref="ns4:inQuarter"/>
                        
            <xs:element ref="ns4:betweenYears"/>
                        
            <xs:element ref="ns4:inMonth"/>
                        
            <xs:element ref="ns4:beforeYear"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlCensusRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence/>
                
        <xs:attribute name="censusPlace" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlEnglandCensusRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlCensusRecords">
                
        <xs:sequence>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element form="qualified" name="entry1821byAge" type="tns:censusEngland1821ByAge"/>
                        
            <xs:element form="qualified" name="entry1841" type="tns:censusEngland1841"/>
                        
            <xs:element form="qualified" name="entry1851" type="tns:censusEngland1851"/>
                      
          </xs:choice>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="censusEngland1821ByAge">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlCensusRecord">
                
        <xs:sequence>
                    
          <xs:element form="qualified" name="head" type="tns:xmlResidenceRecord"/>
                  
        </xs:sequence>
                
        <xs:attribute name="malesUnderFive" type="xs:int"/>
                
        <xs:attribute name="malesFiveToTen" type="xs:int"/>
                
        <xs:attribute name="malesTenToFifteen" type="xs:int"/>
                
        <xs:attribute name="malesThirtyToForty" type="xs:int"/>
                
        <xs:attribute name="malesFortyToFifty" type="xs:int"/>
                
        <xs:attribute name="malesFiftyToSixty" type="xs:int"/>
                
        <xs:attribute name="malesSixtyToSeventy" type="xs:int"/>
                
        <xs:attribute name="femalesUnderFive" type="xs:int"/>
                
        <xs:attribute name="femalesFiveToTen" type="xs:int"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlCensusRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPlaceRecord">
                
        <xs:sequence/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlPlaceRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecord">
                
        <xs:sequence/>
                
        <xs:attribute name="place" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="censusEngland1841">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlCensusRecord">
                
        <xs:sequence>
                    
          <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:census1841EnglandEntry"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="census1841EnglandEntry">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateRecord">
                
        <xs:sequence/>
                
        <xs:attribute name="bornInCounty" type="xs:boolean"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="censusEngland1851">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlCensusRecord">
                
        <xs:sequence>
                    
          <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:xmlEngland1851CensusIndividual"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlEngland1851CensusIndividual">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlEnglandCensusIndividual">
                
        <xs:sequence/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType abstract="true" name="xmlEnglandCensusIndividual">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateRecord">
                
        <xs:sequence/>
                
        <xs:attribute name="relationshipToHead" type="tns:censusRelationshipToHead" use="required"/>
                
        <xs:attribute name="marriageCondition" type="tns:censusMarriageCondition"/>
                
        <xs:attribute name="placeOfBirth" type="xs:string"/>
                
        <xs:attribute name="disability" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlBurialRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:burial"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlBurialRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateRecord">
                
        <xs:sequence>
                    
          <xs:choice minOccurs="0">
                        
            <xs:element ref="ns4:buriedOn"/>
                        
            <xs:element ref="ns4:buriedInMonth"/>
                        
            <xs:element ref="ns4:buriedInQuarter"/>
                      
          </xs:choice>
                    
          <xs:choice minOccurs="0">
                        
            <xs:element ref="ns4:diedOn"/>
                        
            <xs:element ref="ns4:diedInMonth"/>
                        
            <xs:element ref="ns4:diedInQuarter"/>
                      
          </xs:choice>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns3:daughter"/>
                        
            <xs:element ref="ns3:father"/>
                        
            <xs:element ref="ns3:mother"/>
                        
            <xs:element ref="ns3:son"/>
                        
            <xs:element ref="ns3:husband"/>
                        
            <xs:element ref="ns3:wife"/>
                        
            <xs:element ref="ns3:unknown"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute name="residence" type="xs:string"/>
                
        <xs:attribute name="deathPlace" type="xs:string"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMemorialInscriptions">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:memorialInscription"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlMemorialInscription">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecord">
                
        <xs:sequence>
                    
          <xs:element form="qualified" name="text" type="xs:string"/>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns3:family"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlProbateRecords">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlRecords">
                
        <xs:sequence>
                    
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:probate"/>
                  
        </xs:sequence>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="xmlProbateRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateWithFamilyRecord">
                
        <xs:choice>
                    
          <xs:element ref="ns4:xmlBeforeDate"/>
                    
          <xs:element ref="ns4:inYear"/>
                    
          <xs:element ref="ns4:onDate"/>
                    
          <xs:element ref="ns4:inQuarter"/>
                    
          <xs:element ref="ns4:betweenYears"/>
                    
          <xs:element ref="ns4:inMonth"/>
                    
          <xs:element ref="ns4:beforeYear"/>
                  
        </xs:choice>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:complexType name="recordSets">
        
    <xs:sequence>
            
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:recordSet"/>
          
    </xs:sequence>
      
  </xs:complexType>
    
  <xs:complexType name="xmlDeathRecord">
        
    <xs:complexContent>
            
      <xs:extension base="tns:xmlPersonOnDateRecord">
                
        <xs:sequence>
                    
          <xs:element minOccurs="0" ref="ns4:deathDate"/>
                    
          <xs:choice maxOccurs="unbounded" minOccurs="0">
                        
            <xs:element ref="ns3:daughter"/>
                        
            <xs:element ref="ns3:father"/>
                        
            <xs:element ref="ns3:mother"/>
                        
            <xs:element ref="ns3:son"/>
                        
            <xs:element ref="ns3:husband"/>
                        
            <xs:element ref="ns3:wife"/>
                        
            <xs:element ref="ns3:unknown"/>
                      
          </xs:choice>
                  
        </xs:sequence>
                
        <xs:attribute ref="tns:deathPlace"/>
              
      </xs:extension>
          
    </xs:complexContent>
      
  </xs:complexType>
    
  <xs:simpleType name="xmlRecordSetSource">
        
    <xs:restriction base="xs:string">
            
      <xs:enumeration value="government"/>
            
      <xs:enumeration value="manor"/>
            
      <xs:enumeration value="church"/>
          
    </xs:restriction>
      
  </xs:simpleType>
    
  <xs:simpleType name="xmlRecordSetType">
        
    <xs:restriction base="xs:string">
            
      <xs:enumeration value="marriage"/>
            
      <xs:enumeration value="birth"/>
            
      <xs:enumeration value="payment"/>
            
      <xs:enumeration value="mixed"/>
            
      <xs:enumeration value="burial"/>
            
      <xs:enumeration value="residence"/>
            
      <xs:enumeration value="baptism"/>
            
      <xs:enumeration value="census"/>
            
      <xs:enumeration value="membership"/>
            
      <xs:enumeration value="death"/>
            
      <xs:enumeration value="mention"/>
          
    </xs:restriction>
      
  </xs:simpleType>
    
  <xs:simpleType name="xmlSignature">
        
    <xs:restriction base="xs:string">
            
      <xs:enumeration value="signature"/>
            
      <xs:enumeration value="mark"/>
          
    </xs:restriction>
      
  </xs:simpleType>
    
  <xs:simpleType name="censusRelationshipToHead">
        
    <xs:restriction base="xs:string">
            
      <xs:enumeration value="child"/>
            
      <xs:enumeration value="parent"/>
            
      <xs:enumeration value="spouse"/>
            
      <xs:enumeration value="head"/>
          
    </xs:restriction>
      
  </xs:simpleType>
    
  <xs:simpleType name="censusMarriageCondition">
        
    <xs:restriction base="xs:string">
            
      <xs:enumeration value="unmarried"/>
            
      <xs:enumeration value="widowed"/>
            
      <xs:enumeration value="married"/>
          
    </xs:restriction>
      
  </xs:simpleType>
    
  <xs:attribute name="deathPlace" type="xs:string"/>
  
</xs:schema>
